# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# User defined
nbproject/private/
build/
dist/

/EzRent/nbproject/private/
/EzRent/build/
/EzRent/dist/

# war files
/EzRent/EzRent-war/nbproject/private/
/EzRent/EzRent-war/build/
/EzRent/EzRent-war/dist/

# ejb files
/EzRent/EzRent-ejb/nbproject/private/
/EzRent/EzRent-ejb/build/
/EzRent/EzRent-ejb/dist/
/EzRent/EzRentRws/nbproject/private/

# Angular Node modules
/EzRentAdmin/node_modules
