<app-header (childEvent)="parentEvent()"></app-header>

<!-- <app-main-menu></app-main-menu> -->

<section id="content" class="content">

    <article *ngIf="sessionService.getIsLogin() == false" style="text-align: center;padding-top: 10%;font-size: xx-large;">
        <p>Welcome To EzRent Administrator Portal</p>
    </article>

    <ng-template [ngIf]="sessionService.getIsLogin() == true">
        <div style="padding: 20px;">You are logged in.</div>
        <br/><br/>
    </ng-template>
</section>