<section id="content" class="content">

    <h2>Create New Delivery Company User</h2>
<form #createDeliveryCompanyForm="ngForm" class="example-form" (ngSubmit)="createDeliveryCompany(createDeliveryCompanyForm)">
    
  <h5>Company Particulars:</h5>
  <mat-form-field class="example-full-width">
    <mat-label>Company Name</mat-label>
    <input matInput>
  </mat-form-field>
  

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>UEN</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Contact Number</mat-label>
      <input matInput>
    </mat-form-field></td>

  </tr></table>

  <mat-form-field class="example-full-width">
    <mat-label>Company Email</mat-label>
    <input matInput>
  </mat-form-field>

  <br/><br/>

  <h5>Company Representative Particulars:</h5>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <br/>

  <h5>Account Particulars:</h5>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password">
    </mat-form-field></td>
  </tr></table>

  &nbsp;
  <button mat-raised-button type="submit">Create</button>

</form>


</section>

