<app-header (childEvent)="parentEvent()"></app-header>


<section id="content" class="content">

    <button style="margin: 20px;" [routerLink]="'../viewAllCategories'" pButton pRipple type="button" class="p-button-rounded p-button-secondary" iconpos="left" label="Go back to Category List" icon="pi pi-chevron-left"></button>

    <h2 style="padding-left: 20px;">Create New Category</h2>

    <div *ngIf="resultSuccess == true" style="color:blue; padding: 20px;">
        {{message}}
    </div>

    <div *ngIf="resultError == true" style="color:red; padding: 20px;">
        {{message}}
    </div>

    <form #createCategoryForm="ngForm" (ngSubmit)="create(createCategoryForm)">
        <div class="p-field" style="padding: 20px;">
            <label for="catname" style="padding-right: 20px;">Category Name</label>
            <input id="catname" name="catname" type="text" pInputText [(ngModel)]="newCategory.categoryName" style="margin-bottom: 20px;" />
            <br/>
            <label for="yes" style="padding-left: 20px;">Has Parent</label>
            <input type="radio" inputId="yes" name="parent" value="true" (click)="setSelectedValue(true)" />

            <label for="no" style="padding-left: 20px;">No Parent</label>
            <input type="radio" inputId="no" name="parent" value="false" (click)="setSelectedValue(false)" />

            <div *ngIf="selectedValue" style="padding: 10px;">
                <p-dropdown name="optionss" [options]="categories" [(ngModel)]="parentCategoryId" optionLabel="categoryName" optionValue="categoryId"></p-dropdown>

            </div>
            <br/>
            <br/>
            <button pButton iconPos="left" style="margin-right: 10px;" icon="pi pi-plus" type="submit" label="Create New"></button>
            <button pButton iconPos="left" class="p-button-danger" icon="pi pi-times" (click)="clear()" label="Clear"></button>
        </div>
    </form>

</section>