<app-header (childEvent)="parentEvent()"></app-header>

<section id="content" class="content"s>

    <!-- <mat-tab-group animationDuration="300ms">
        <mat-tab label="First">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput >
            </mat-form-field>

            <table mat-table class="mat-elevation-z8">
                <ng-container matColumnDef="adminId">
                    <th mat-header-cell *matHeaderCellDef> Admin ID </th>
                    <td mat-cell *matCellDef="let admin"> {{admin.adminId}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </mat-tab>
        <mat-tab label="Second">
            <mat-form-field>
                <mat-label>Filter2</mat-label>
                <input matInput >
            </mat-form-field>
        </mat-tab>
    </mat-tab-group> -->
    
</section>